<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://audio-azure-functions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ca0cd4ab-5601-489a-9e4b-53db45be5503/resourceGroups/Creating-ARM-Template/providers/Microsoft.Web/sites/audio-azure-functions</ResourceId>
    <UserName>$audio-azure-functions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://audio-azure-functions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>